# SQLite version 3.x
development:
  adapter: mysql
  database: americanbar
  username: root
  password: hormidb08

test:
  adapter: mysql
  database: americanbar
  username: root
  password: hormidb08

production:
  adapter: mysql
  database: americanbar
  username: root
  password: hormidb08

