<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>American Bar</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
	<%= yield %>
</body>
